body {
margin:0;
background-color:white;
background-repeat:repeat-y;
}
root {
    display: block;
}
.cx th {background-color:white}
.cx td {background-color:yellow}

#contents{
    margin:0 0 auto auto;
    background-color:white;


}
#principal{
    margin:0 0;
    background-color:white;
    font-size:8px;
}

.relatorios th {
    background-color:white;
}

.relatorios td {
    background-color:#fbf5b5;
    padding:inherit;
    font-size:10px;
}

.relatorios tr:hover {
    background-color:blue;
}

.corpo{
    height:500px;
    width:900px;
    background-color:white;
    font-size:10px;

}

.tabelas {
  border: solid 3px #666;
  border-collapse: collapse;
  
}

.tabelas th {
  font-size: 10px;
  color: #FFF;
  background-color: #404C99;
  padding: 4px 8px;
  padding-bottom: 4px;
  text-align: center;
}

.tabelas td {
  padding: 4px 8px;
}

.tabelas h1 {
    background-color: #404C99;
}

.tabelas .even td {
  background-color: #E3E6FF;
}

.tabelas .odd td {
  background-color: #D1D8F6;
}
