body {
margin:0;
background-color:#c4c4c4;
}
a:hover {
  color:white;
  background-color:gray;
}
root {
    display: block;
}
#alinha{
margin:25px;
}
#conteudo {
margin:25px;
}
#tabela {
  position: relative;
  left: 80px;
}
#voltar {
margin:25px;
}

#instrucoes{
 position: absolute;
 left: 700px;
 top: 180px;
}

#loginnn {
    position: absolute;
   left: 700px;
   top: 230px;
   }

#loginn {
   position: absolute;
   left: 960px;
   top: 150px;
   }

#login2 {
    position: absolute;
   left: 250px;
   top: 400px;
   }



#calcular {
    position: absolute;
   left: 500px;
   top: 540px;
   }


#login1 {
    position: absolute;
   left: 400px;
   top: 230px;
    }
#obs {
   position: absolute;
   left: 600px;
   top: 360px;
   }

#topo {
background-image:url(Imagens/americana_titulo.jpg);
background-repeat: no-repeat;
text-align: center;
color:white;
width:100%;
height:80px;
margin:0;
font:bold;
border-color:black;
border-left: double;
border-bottom: double;
border-top: double;
border-right: double;
}
#rodape{
    background-image:url(Imagens/fundo_rodape.jpg);
    margin:25px;
  	position:relative;
    top: 560px;
    width:96%;
    color:white;
    text-align:center;
}
#mensagem{
font: bold;
font-size:large;
text-align: left;
color: red;
}
.menu_list {
	width: 1100px;
}
.menu_head {
	padding: 1px 1px;
	cursor: pointer;
	position: relative;
	margin:1px;
    font-weight:bold;
    font-size: medium;

}
.menu_body {
    padding: 0px 67px;
    display:none;
    font-size: large;
    
 }
 #menu li {
  display:inline;
  
}

#menu li a {
  padding:1px;
  border:1px solid black;
  text-decoration:none;
  width:130px;
  background:gray;
  float:left;
}
#menu ul {
  padding:0;
  margin:0;
  float:left;
  width:100%;
  list-style:none;
  background:#B0C4DE;
}




#fundo_menu {
    width:50%;
    }
#nome_aviso {
font: bold;
font-size:x-large;
color: red;
}

#mensagem{
font: bold;
font-size:large;
text-align: left;
color: red;
}

#descricao {
font: bold;
font-size:medium;
text-align: left;
color: green;
}

#nome_mae{
font: bold;
font-size:x-large;
color: red;
}

#Certeza{
font: bold;
font-size:x-large;
color: red;
}
#asterisco{
 color: red;
font-size: large;
}

#aviso_mae{
font: bold 12px;
color: green;
}

#estatistica{
  position: absolute;
  left: 870px;
   top: 245px;
  }

#informacao{
    margin:25px;
  	position:relative;
    width:96%;
    color:white;
    text-align:center;
}

#img{
   background-image:url(Imagens/professores.gif);
   background-repeat: no-repeat;
   text-align: center;
   color:white;
   width:100%;
   height:386px;
   margin:0;
   font:bold;
   border-color:black;
   border-left: double;
   border-bottom: double;
   border-top: double;
   border-right: double;
}

#rodape_login{
    background-image:url(Imagens/fundo_rodape.jpg);
    color:white;
    text-align:center;
}

.menu-hv * { margin: 0; padding: 0;}
.menu-hv a { display: block; }
.menu-hv li { list-style: none; float: left; height: 1%; }
.menu-hv li ul { position: absolute; visibility: hidden;}
.menu-hv li ul li { float: none; white-space: nowrap; display: inline; /* o inline é pro IE */}
.menu-hv li ul li ul { position: absolute; left: 100%; top: 0; }
.menu-hv li:hover ul, .menu-hv li.over ul { visibility: visible;}
.menu-hv li:hover ul ul, .menu-hv li.over ul ul { visibility: hidden;}
.menu-hv ul ul li:hover ul, .menu-hv ul ul li.over ul { visibility: visible;}
 /* visual */
.menu-hv {  background:black repeat-x top;width: 1090px;  margin: 0 0 0 0; height: 28px;}
.menu-hv a { font-weight: bold;  text-decoration: none; color: #FFF; padding: 0 10px; line-height: 23px;}
.menu-hv a:hover { text-decoration:  underline; background-color: #000; color: #FFF;}
.menu-hv ul li ul {  background-color: #B0C4DE; border: 1px solid #000; }
.sub-menu-hv * { margin: 0; padding: 0;}
.sub-menu-hv a { display: block; }
.sub-menu-hv li { list-style: none; float: left; height: 1%; }
.sub-menu-hv li ul { position: absolute; visibility: hidden;}
.sub-menu-hv li ul li { float: none; white-space: nowrap; display: inline; /* o inline é pro IE */}
.sub-menu-hv li ul li ul { position: absolute; left: 100%; top: 0; }
.sub-menu-hv li:hover ul, .menu-hv li.over ul { visibility: visible;}
.sub-menu-hv li:hover ul ul, .menu-hv li.over ul ul { visibility: hidden;}
.sub-menu-hv ul ul li:hover ul, .menu-hv ul ul li.over ul { visibility: visible;}
/* visual */
.sub-menu-hv a { font-weight: bold;  text-decoration: none; color: #FFF; padding: 0 10px; line-height: 23px;}
.sub-menu-hv a:hover { text-decoration:  underline; background-color: #000; color: #FFF;}
.sub-menu-hv ul li ul { background-color: #c4c4c4; border: 1px solid #000; }

.cx th {background-color:white}
.cx td {background-color:yellow}