  <h2 align="center"> VALIDAR USUÁRIO </h2>
<br/>
  <div id="conteudo">
<H3 ALIGN="CENTER">FAVOR ENTRAR EM CONTADO COM SEUS SUPERVISORES PARA LIBERAÇAO DO ACESSO. </H3>
|<%=link_to 'Voltar', logout_path%>|
</div>