<br/>
 <div id="conteudo">
   
<%= button_to_remote('Voltar', :url => { :action => "gen_user", :controller =>'home'}) %>
<br/>
<br/>
<div class="relatorios">
<table border="1" frame="box" rules="all" align="center">
  <tr>
        <td colspan="14" align="center"><h1>Listagem Usuários Cadastrados</h1></td>
  </tr>


  <tr>
    <th align="center">LOGIN</th>
    <th align="center">STATUS</th>
  </tr>
<%@usuarios = User.find(:all, :order => 'login') %>
<% for user in @usuarios %>
  <tr>
    <td align="left"><%= user.login %></td>
    <% if user.activated_at == nil then %>
      <td align="Center">DESATIVADO</td>
    <%else%>
      <td align="center">ATIVO</td>
    <%end%>
  </tr>
  <tr>
    <td align="center" colspan="2"><div class="botao3d"><%= link_to 'Apagar', user, :confirm => 'Confirma?', :method => :delete %></div></td>
  </tr>
<% end %>
</table>

<%= link_to_remote('Voltar', :url => { :action => "gen_user", :controller =>'home'}, :class =>'botao3d') %>
</div>


</div>



