<div id="conteudo">
  <%= javascript_include_tag 'jquery-ui.js' %>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <!-- #dialog é o id do DIV definido como mostrado a seguir  -->
</div>