<div id="conteudo">
  <h1 align="center">Bem Vindo ao Serviço de Mensagens</h1>
  <%=  link_to 'Caixa de Entrada(' + ((@mensagems).count).to_s + ')', entrada_mensagems_path%><br/>
  <%=  link_to 'Caixa de Saída', saida_mensagems_path%>
</div>