  <fieldset>
    <legend><font size=4> Titulos</font></legend>
  </fieldset>


<div class="botao3d"><%= link_to 'Alterar', edit_titulacao_path(@titulacao) %></div>
<div class="botao3d"><%= link_to 'Voltar', titulacaos_path %></div>
