<style media="print">
.botao {
display: none;
}
</style>

<div id="conteudo">
<div class="botao">
     <fieldset>
    <legend><font size=4>Matrícula: <%= text_field :professor, :professor_id, :size => 5 %></font></legend>
    </fieldset>
 </div>
       <%= observe_field 'professor_professor_id',
         :frequency => 0.5,
         #:update => 'dados_professor',
         :with => :professor_professor_id,
         :url => { :action => 'dados_professor' } %>

    <h2 align="right">   FICHA DE PONTUAÇÃO DE PROFESSOR</h2>
    <h4 align="right"> <font size="2"> Americana <%= Time.now.strftime("%d de %B de %Y - %H:%M ") %>horas</font></h4>

    <div id="dados_professor"></div>

    <div id="dados_tempo_serviço"></div>

    <div id="titulação"></div>
</div>
