  <%$subtotal_titulos = 0%>
  <%$subtot_perm = 0%>
  <%$subtot_um = 0%>
  <%$subtot_cinco = 0%>
<div id="busca_ficha">
  <div class="botao">
    <table width="100%">
      <tr>
          <% form_tag busca_ficha_professors_path, :method => 'get' do %>
           <p>
            <tr>
                <td align="right"> Matricula:
                 <%= text_field_tag :ficha, params[:ficha] %>
                 <%= submit_tag "Filtrar", :name => nil %></td>
              </tr>
           </p>
          <% end %>
      </tr>
    </table>
  </div>
</div>
<div id="separator"></div>
