<h1>Fichas Geradas</h1>

<table>
  <tr>
    <th>Professor</th>
    <th>Ano Letivo</th>
  </tr>

<% for ficha in @fichas %>
  <tr>
    <td><%=h ficha.professor.nome %></td>
    <td><%=h ficha.ano_letivo %></td>
    <td><%= link_to 'Exibir', [@professor,ficha] %></td>
    <td><%= link_to 'Destroy', [@professor,ficha], :confirm => 'Tem Certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
