<br/>
<div id="conteudo">
<br />
<br />
<p>
  <fieldset>
   <legend align="center"><font size=10>Região</font></legend>
  <p>
  <b>Nome:</b>
  <%=h @regiao.nome %>
  </p>
 </fieldset>
</p>
<br/>
|<%= link_to 'Alterar', edit_regiao_path(@regiao) %> |
<%= link_to 'Voltar', regiaos_path %> |
</div>
