
<div id="conteudo">
<div class="botao">
    <h2 align="center">   Consultas</h2>
    <hr>
<br/>
<div class="sub-menu-hv">
  <td><li><div class="botal3d"><%= link_to_remote('Pontuação Professor Individual', :url => { :action => "consulta_ppu"}) %></div></li></td>
  <td><li><div class="botal3d"><%= link_to_remote('Pontuação por Unidade', :url => { :action => "consulta_pu"}) %></div></li></td>
  <td><li><div class="botal3d"><%= link_to_remote('Titulação Professor', :url => { :action => "consulta_pt"}) %></div></li></td>
  <td><li><div class="botal3d"><%= link_to_remote('Pontuacao Geral Professor', :url => { :action => "consulta_geral"}) %></div></li></td>
</div>
</div>
  <div id="prof_pontua"></div>


</div>