<div id="conteudo">

  <table border="1" width="100%">
    <th align="center" colspan="2" bgcolor="red"  style="color:white">Arrumar titulos anuais?</th>
    <tr>
      <td align="center">| <%= link_to_remote('SIM', :update => "arrumar_titulos", :url => {:controller => 'calculos', :action => 'efetiva_arrumar_titulos'}) %> |</td>
      <td align="center">| <%= link_to 'NÃO', root_path %> |</td>
    </tr>
  </table>


</div>
